/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:monospace;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#dc9ae2, #d142a6, #df96b8);
}

app-root {
    width: 100%;
}

.container {
    width: 90%;
    margin-inline: auto;
    max-width: 500px;
    padding: 3rem 1rem;
    color: #e6bcd9;
    box-shadow: 1px 1px 3px #cccccc3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    background: #cccccc2a;
    backdrop-filter: blur(120px);
    border-radius: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}
button {
    background: transparent;
    color: #e6bcd9;
    width: 25%;
    min-width: 90px;
    padding: .4rem;
    border-radius: 50px;
    border: none;
    outline: none;
    
    box-shadow: 1px 1px 6px #cccccc9a;
    cursor: pointer;
}

.result-div  div.result{
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
    font-size: 1.3rem;
}

.scores {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.scores p {
    margin-top: 1rem ;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 3px #cccccc3d;
    border-radius: 50%;
}

.final-result button {
    margin-top: 1rem;
}